@media (max-width: 760px) {

	#nav {
		float: right;
   	 	display: inline-block;
	}
	.dropbtn {
		position: relative;
		height:25px;
		width: 25px;
		padding: 16px;
   	 	border: none;
   	 	cursor: pointer;
	}

	.divider {
		display: none;
	}

	.dropdown-content {
		left:0;
    		display: none;
    		position: absolute;
    		margin-right: 10px;
    		width: 100%;
    		overflow: auto;
    		background-color: #f9f9f9;
	}

	.dropdown-content a {
   		color: black;
    		padding: 12px 16px;
    		text-decoration: none;
    		display: block;
    		background-color: rgb(254,216,55);
	}

	#nav:hover .dropdown-content {
    		display: block;
	}
	#nav .drop-downcontent {
		display:none;
	}
	.menu {
		border-style: solid;
		border-width: 1px;
	}


	#grad {
		height: 10px;
	}

	.clarityConference, .clarityMeeting {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media (min-width: 761px) {
	#main {
		display: -webkit-box;
    		display: -moz-box;
    		display: -ms-flexbox;
    		display: -moz-flex;
    		display: -webkit-flex;
  		display: flex;
  		flex-wrap: wrap;
	}

	#content{
		width: 60%;
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}

	.clarityConference {
		width: 40%;
		display: inline;
		margin-right: 10px;
	}

	.clarityMeeting{
		width: 40%;
		display: inline;
	}

	.connect {
		padding: 15px;
		height: 30%;
		width: 30%;
	}
	#social, #links {
		padding: 0px 10px 10px 10px;
		border-style: groove;
		border-width: 2px;
		border-color: lightgray;
		margin-bottom: 20px;
	}

	#grad {
		height: 30px;
	}

	.dropbtn {
		display: none;
	}

	.dropdown-content a {
		color: gray;
		width: 25%;
		background-color: #ffffff;
		display: inline;
	}
	.menu {
		font-size: 0.8em;
		border-style: none;
		background-color: white;

	}

	.divider {
		display: inline;
	}

	#nav {
   		background-color : #ffffff;
   		width : 25%;
   		float: right;
   		margin-top: 25px;
   		display: inline;
  	
  }
} 

 
